<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PxShare server</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/style_index.css" />
<script type="text/javascript" src="/javascripts/jquery-1.8.3.min.js"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.css" />
<script type="text/javascript" src="/javascripts/menu.js"></script>

</head>

<body>
<div class="top"></div>
<div id="header">
	<div class="logo">
		<li><i class="fa-li fa fa-spinner fa-spin" style="margin-left: 60px;margin-top: 20px;"></i><span style="margin-left: 30px;">PxShare</span></li>
	</div>
	    <div class="navigation">
		    <ul>
				<li>Welcome to study PS</li>
				<li><img src="" alt="user_photo" class="photo"></li>
				<li ><%=userInfo.user_name%></li>
				<li><span></span>
					<%if(userInfo.role==1){%>
						<i class="fa fa-user-o" aria-hidden="true" style="font-size:18px;"></i> 普通用户<%}
					 else if(userInfo.role==2){%>
						<i class="fa fa-user" aria-hidden="true" style="font-size:18px;"></i> 提款机<%}
					 else if(userInfo.role==3){%>
						<i class="fa fa-user-plus" aria-hidden="true" style="font-size:18px;"></i> 管理员<%}%></h4>
				</li>
				<li><a href="/logout"><span style="color:#e65fcf;font-size: 22px;"><i class="fa fa-power-off" aria-hidden="true"></i></span></a></li>
		    </ul>
	    </div>
</div>
     <%if(userInfo.role==1 ){%><%}
	  else {%>
<div id="content">
	<div class="left_menu">
		<ul id="nav_dot">
			<%if(userInfo.role==3 || userInfo.role==2){%>
			<li>
				  <h4 class="M10"><span></span>用户管理</h4>
				  <div class="list-item none">
				  <a href='/users/userlist' target="iframe1">用户列表</a>
				  <a href='/users/plus' target="iframe1">新增用户</a></div>
			</li>
            <li>
				 <h4 class="M1"><span></span>素材库</h4>
				 <div class="list-item none">
				 <a href='/datas/datalist' target="iframe1">素材备库</a>
				 <a href='/datas/check' target="iframe1">审核素材</a>
				 <a href='/datas/plus' target="iframe1">上传素材</a>
				</div>
	        </li>
	        <li>
				 <h4 class="M9" ><span></span>教程库</h4>
				 <div class="list-item none">
				 <a href='/courses/courselist' target="iframe1">教程备库</a>
				 <a href='/courses/check' target="iframe1">审核教程</a>
				 <a href='/courses/plus' target="iframe1">上传教程</a>
				</div>
			</li>
			<li>
				<h4 class="M6" ><span></span>分享圈</h4>
				<div class="list-item none">
				<a href='/publishs/publishlist' target="iframe1">圈内论坛</a></div>
		   </li>
		   <li>
				<h4 class="M4" ><span></span>交易详情</h4>
				<div class="list-item none">
				<a href='/buys/buylist' target="iframe1">购买记录</a></div>
		   </li>
		   <%}%>
		
        </ul>
</div>
	<div class="m-right">
			  <div class="main">
				  <iframe frameborder="0" name="iframe1"  width="100%" height="100%">
					 您的浏览器不支持嵌入式框架，或者当前配置为不显示嵌入式框架。
				  </iframe>
			  </div>
	</div>
</div>
<%}%>
<script>navList(12);</script>
<script>

	$(function() {
		  if('<%=userInfo.user_photo%>'){
			  $('.photo').attr('src', '/images/upload/<%=userInfo.user_photo%>')
		  }else{
			  $('.photo').parents('li').remove();
		  }
	
	})
	
	</script>
</body>
</html>
