<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
        <!--引入jq插件-->
        <script type="text/javascript" src="/javascripts/jquery-1.8.3.min.js"></script>
     <!--引入base.js用于删除提醒-->
    <script type="text/javascript" src="/javascripts/base.js"></script>
    <title>用户列表</title>
    
</head>
<body>


<!-- 食品分页 -->
<div class="pull-left" style="margin-left:105px">
  <ul class="pagination" id="paginator-example">
        <li><a href="/users/userlist">首页</a></li>
        <!-- 使用parseInt()函数可解析一个字符串,并返回一个整数 -->
        <li><a href="/users/userlist?page=<%=paging.page==1?1:(parseInt(paging.page)-1)%>">上一页</a></li>
        <!-- ?指的是分页链接 向action或者jsp传参 通过?前面链接来处理分页 并通过url传参的形式将page=多少传给链接 -->
        <li><a href="/users/userlist?page=<%=paging.page==paging.totalPages?paging.totalPages:(parseInt(paging.page)+1)%>">下一页</a></li>
        <!-- 后面的?在这里指的是条件表达式，前面的成立就返回，否则就返回后面 -->
        <li><a href="/users/userlist?page=<%=paging.totalPages%>">尾页</a></li>
        <li><a href="./plus"><span style="color: rgb(67, 198, 250); font-weight: bolder;">新增用户</span></a></li>
  </ul>
</div>


<!-- 搜索框 --> 
<div class="suo">
   <form action="/users/suo" method="POST">
        <div class="col-md-offset-2 col-md-3 " style="padding:20px 3px;">
            <!-- from-control的效果 宽度为100% 边框为浅灰色 控件具有4px的圆角 阴影效果，元素得到焦点时，阴影和边框效果会发生变化设置 placeholder的颜色为#999 -->
            <input type="text" class="form-control" name="chaxun" id="firstName" value="" placeholder="请输入ID或昵称">
            <!-- col-md-offset-3（在左侧补充3列）col-md-push-8（从左侧往右侧推8列）col-md-pull-2（往左侧拉2列）  -->
            </div>
        <div class="col-md-2" style="padding:20px 3px;">
            <!-- col-xs-6 col-md-3  在超小屏幕中占6列 在中单屏幕中占3列  bootstrap栅格系统中的列是通过指定1到12的值来表示其跨越的范围-->
            <button type="submit" class="btn btn-info">查询</button>   
            </div>  
  </form>
</div>
   
    
<!--用户列表-->
<div class="user">
   <div class="col-md-10 col-md-offset-1">
      <!-- table-hover：鼠标悬停高亮的表格 table-bordered：带边框的表格 table-striped：斑马线表格 -->
      <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr class="biao">
                    <th style="text-align:center;">序号</th>
                    <th style="text-align:center;">工号/帐号</th>
                    <th style="text-align:center;">昵称</th>
                    <th style="text-align:center;">角色</th>
                    <th colspan="2" style="text-align:center;">操作</th>
                </tr>
            </thead>

           <tbody>
              <% for(var i=0;i<data.length;i++){%>
                <tr style="text-align:center;">
                    <td><%=i+1%></td>  
                    <td><%=data[i].user_id%></td>
                      <td><%=data[i].user_name%></td>
                      <td><%if(data[i].role==1){%>
                        普通用户<%}
                        else if(data[i].role==2){%>
                          大V博主
                          <%}
                          else if(data[i].role==3){%>
                           管理员
                            <%}%></td>
                      <td><a href="/users/edit/<%=data[i].user_id%>" class="btn btn-info">编辑</a></td>
                      <td><a href="/users/delect/<%=data[i].user_id%>" class="btn btn-danger delete">删除</a></td>
                      <%}%>
                 </tr>
             </tbody>
        </table>
  </div>
    

<!-- 分页记录 -->
<div class="pull-right" style="margin-right:88px ;">  <!-- 整体右浮动  -->
  当前<%if(paging.totalPages==0){%><%=paging.page-1%><%}
  else {%><%=paging.page%><%}%>/<%=paging.totalPages%>页 共<%=paging.size%>条记录
</div>  
  
</body>

</html>